name: build-app
on: [push]
jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: yarn install
      - run: yarn run dist
      - uses: actions/upload-artifact@v2
        with:
          name: build-${{ env.GITHUB_SHA }}
          path: dist
